/* Styles CV Olivier Barjon 2020                   */

/* SOMMAIRE                                        */
/*   SPECIFICITES MEDIA QUERIES                    */
/*   COULEURS DE FONDS                             */
/*   TEXTES ET ALIGNEMENTS                         */
/*   ELEMENTS GRAPHIQUES                           */

/* ########### SPECIFICITES MEDIA QUERIES ############### */


/* Small devices */
@media (max-width: 767.98px) { 
    
    .entete {
        flex-direction:column-reverse;
        margin-top: 2rem;
    }
    
    h1 {
        font-size: 3rem;
    }
    
    .BoxLoisir {
        display:none;
    }
    
    .header__background--colorAmber {
        background-color: #FAFAFA; 
    }
    
    .header__photo--border {
        border: 0.5rem RGBa(255, 193, 7, 0.4) solid;
    }
    
    /* La règle suivante permet d'éviter l'utilisation d'une classe .d-flex qui rendrait la section footer visible sur tous les devices */
    .footer { 
        display:flex;
        flex-direction:column;
    }    
    
}

/* Medium devices */
@media (min-width: 767.99px) { 
    
    body {
    max-width:90rem; /*Effet Page A4 */
    margin:auto;
    }
    
    h1 {
        font-size: 3.7rem;
    } 
    
    .header__background--colorAmber {
        background-color: #FFC107; 
    }
    
    .header__photo--border {
    border: 0.5rem RGBa(33, 33, 33, 0.3) solid;
    }
    
    .footer {
        display:none;
    }
    
}

/* Large devices */
@media (min-width:992px) {
    
    h1 {
        font-size: 5rem;
    }
    
    .article--flex-direction{
        display:flex;
    }
   
    .article__content--width65{
        width: 65%;
    }
     
}

/* ################# COULEURS DE FONDS ################### */

/* Couleurs : Material design color - Amber 500 #FFC107 */
/*                                  - Grey 800 #424242  */
/*                                  - Grey 900 #212121  */
/*                                  - Grey #FAFAFA */


body,.header__background--colorGrey,.article__background--colorGrey {
    background-color: #FAFAFA;
}

.aside__background--colorGrey900 {
    background-color: #212121;
}

.aside__background--colorAmber {
    background-color: #FFC107;
}


/* ###############  TEXTES ET ALIGNEMENTS ################ */

/* POLICE : Montserrat */
/* FONTS : Thin 100 (font-weight: 100)*/
/*         Semi-bold 600 (font-weight: 600) */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600&display=swap');


html {
    font-size: 62.5%; /* modifie la taille de base de sorte qu'1 rem = 10px */
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-transform:uppercase;
    font-weight: 100;
    color: #212121;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    color: #424242;
    line-height: normal;
    text-align: left; 
}

h1 + p { /* sous-titre */
    font-weight: 600;
    margin-top: -1rem;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform:uppercase;
    font-weight: 600;
    font-size: 2rem;
    color: #212121;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform:uppercase;
    font-weight: 600;
    font-size: 1.7rem;
    color: #212121;
}

.p-justify {
    text-align:justify;
}

.h2-align-center {
    text-align:center;
    height: 3.5rem;
    padding-top:0.7rem;
}

ul {
    list-style-type:none; 
    text-align: center; 
    padding-left: 0rem;
}

li{
    display:inline;
    margin:1rem;
}

.header__titre--colorAmber {
    font-weight: 100;
    color: #FFC107;
}

.header__titre--underline {
    border-bottom: 0.2rem #FFC107 solid;
}

.aside__titre--colorAmber {
    color: #FFC107;
}

.aside__iconesLoisirs--color-size {
    font-size: 2rem;
    color: #212121;
    border: 3px #212121 solid;
    border-radius:50%;
    padding: 1.5rem;
}

.article__titreH2--underline {
    border-bottom: 0.2rem #FFC107 solid;
}

.article__iconeTitre--color-Size {
    font-size: 2.5rem; 
    color: #FFC107;
    padding-right: 1em;
}

.article__iconeDot--color-Size {
    font-size: 1.5rem; 
    color: #FFC107;
    margin-right: 1rem;
}

.article__iconeCircle--color-Size {
    font-size: 0.9rem; 
    color: #FFC107;
    margin-right: 1rem;
    margin-bottom: 0.2rem;
}

.article__lieuDot--align {
    margin-left: 2.3rem;
}

.article__lieuCircle--align {
    margin-left: 1.7rem;
}

.article__dateLieu--gras {
    font-weight: 600;
}

.mb-6 {
    margin-bottom: 6rem; /* Ajout d'une règle sur modèle Bootstrap */
}


/* ################### ELEMENTS GRAPHIQUES ##################### */


header div img{
    display:block;
    width: 60%;
    margin: 1rem auto 1rem auto;
}



