/* Styles CV Olivier Barjon 2020 */


/* ADAPTATION DE LA GRILLE AVEC LES MEDIA QUERIES */

/* Small devices */
@media (max-width: 767.98px) { 
    .entete {
        flex-direction:column-reverse;
    }
    .BoxLoisirSm {
        display:none;
    }
}

/* Medium devices */
@media (min-width: 767.99px) { 
    .footer {
        display:none;
    }
}
