/* Styles CV Olivier Barjon 2020                   */

/* SOMMAIRE                                        */
/*   SPECIFICITES MEDIA QUERIES                    */
/*   COULEURS                                      */
/*   STYLES DES TEXTES                             */


/* ########### SPECIFICITES MEDIA QUERIES ############### */

/* Small devices */
@media (max-width: 767.98px) { 
    .entete {
        flex-direction:column-reverse;
        margin-top: 2rem;
    }
    .BoxLoisir {
        display:none;
    }
    /* La règle suivante permet d'éviter l'utilisation d'une classe .d-flex qui rendrait la section footer visible sur tous les devices */
    .footer { 
        display:flex;
        flex-direction:column;
    }
    .header__background--colorAmber {
        background-color: #FAFAFA; 
    }
    .header__photo--border {
        border: 5px RGBa(255, 193, 7, 0.4) solid;
}
    h1 {
        font-size: 3rem;
    }
    p {
        font-size: 1.3rem;  
    }
    
}

/* Medium devices */
@media (min-width: 767.99px) { 
    .footer {
        display:none;
    }
    .header__background--colorAmber {
        background-color: #FFC107; 
    }
    .header__photo--border {
    border: 5px RGBa(33, 33, 33, 0.3) solid;
    }
    h1 {
        font-size: 3.7rem;
    }
    p {
        font-size: 1.7rem;  
    }
}

/* Large devices */
@media (min-width:992px) {
    .article--flex-direction{
        display:flex;
    }
    h1 {
        font-size: 5rem;
    }
    p {
        font-size: 2.3rem;  
    }
}

/* ################# COULEURS ################### */

/* Couleurs : Material design color - Amber 500 #FFC107 */
/*                                  - Grey 800 #424242  */
/*                                  - Grey 900 #212121  */
/*                                  - Grey #FAFAFA */


/*Application des couleurs de fond aux blocks */
.aside__background--colorAmber {
    background-color: #FFC107;
}

.header__background--colorGrey,.article__background--colorGrey, body {
    background-color: #FAFAFA;
}
.aside__background--colorGrey900 {
    background-color: #212121;
}

/* ###############  TEXTES ################ */

/* POLICE : Montserrat */
/* FONTS : Thin 100 (font-weight: 100)*/
/*         Regular 400 (font-weight: 400)*/
/*         Semi-bold 600 (font-weight: 600) */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap');


html {
    font-size: 62.5%; /* modifie la taille de base de sorte qu'1 rem = 10px */
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-transform:uppercase;
    font-weight: 100;
    color: #212121;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: #424242;
}

h1 + p {
    font-weight: 600;
    margin-top: -11px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform:uppercase;
    font-weight: 600;
    color: #212121;
}

.header__titre--colorAmber {
    font-weight: 400;
    color: #FFC107;
}

.aside__titre--colorAmber {
    color: #FFC107;
}

.header__titre--underline {
    border-bottom: 2px #FFC107 solid;
}

/* ################### MEDIA ##################### */


    header div img{
    display:block;
    width: 60%;
    margin: 1rem auto 1rem auto;
}

